<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title color="danger">
      Rani 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Rani Ka Page</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong style="color: purple;">Rani is ready to play cricket?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div>
</ion-content>
